@{
    Layout = "~/Views/_Layout.cshtml";
}

<h2>
    <p>
        @*Hello @User.Identity.Name .How's the weather in @ViewBag.Country?*@
        <!--Access CurrentUser prop in AppViewPage class-->
        Hello @CurrentUser.Name . How's the weather in @CurrentUser.Country?
    </p>
</h2>
<p>
    <a href="@Url.Action("logout", "auth")">Log Out</a>
</p>